@model IEnumerable<MySchool.Models.Comment>

@{
    ViewData["Title"] = "ViewComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Comments</h1>



@foreach (var item in Model) {

<div class="boxed" border="black">
    @Html.DisplayFor(modelItem => item.Author)<br /><br />
    @Html.DisplayFor(modelItem => item.Text)<br /><br />


</div>
}
    
