@model MySchool.Models.PermissionSlip

@{
    ViewData["Title"] = "FillPermissionSlip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FillPermissionSlip</h1>

<h4>PermissionSlip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FillPermissionSlip">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                @Html.DisplayNameFor(model => model.Date)
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                @Html.DisplayNameFor(model => model.Location)
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                @Html.DisplayNameFor(model => model.Time)
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classroom" class="control-label"></label>
                @Html.DisplayNameFor(model => model.Classroom)
                <span asp-validation-for="Classroom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApprovingParent" class="control-label"></label>
                <input asp-for="ApprovingParent" class="form-control" />
                <span asp-validation-for="ApprovingParent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
