@model IEnumerable<MySchool.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Index</h1>
<br />
<div class="dropdown">
    <button class="btn btn-outline-success dropdown-toggle" type="button" data-toggle="dropdown">
        Quick Actions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a asp-action="ViewPendingForms">See My Pending Forms</a></li>
        <li><a asp-action="ViewEmergencyCard">Emergency Card</a></li>
        <li><a asp-action="ViewTeacherAvailability">See When Teacher Is Available for a Conference</a></li>
        <li><a asp-action="Edit">Update My Information</a></li>
        
    </ul>
</div>
<br />



    @foreach (var item in Model)
    {
        <br />
        <div class="boxed" border="black">
            @Html.DisplayFor(modelItem => item.Author)<br /><br />
            @Html.DisplayFor(modelItem => item.Text)<br /><br />
            <a asp-action="CreateComment" asp-route-id="@item.PostId">Comment</a> |
            <a asp-action="ViewComments" asp-route-id="@item.PostId">View Comments</a>
            
        </div>
        <br />

    }
